*{
  margin: 0;
  padding: 0;
  font-family: 'arial', 'arial', 'helvetica';
  font-weight: 100;
}
a {
    font-family: 'helvetica;';
}
html {
  height: 100%;
}

body {
  background-color: #EEEEEE;
  -webkit-font-smoothing: antialiased;
  font-size: x-small;
  color: #666666;
  /* background: url("../images/Misty_side.jpeg") */
  /* background: #FFFEFD; /*Off White */ */
  background: #f6eaff /*very light  purple */
  no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat:;
}
.title {
  padding: 50px;
}
#slogan {
  position: relative;
  top: -20px;
  font-size: 22px;
  font-weight: bold;
  -webkit-text-stroke: 1px white;
}

.homebutton {
  width: 50%;
  margin: 20px;
}

main {
  height: 100%;
  width: 100%;
  position: absolute;
  resize: vertical;
  overflow: auto;
}


.appName {
  display: flex;
  justify-content: center;
  /* top: -8px;
  padding-top: 56px; */
  font-size: 80px;
}
#appNameMisty {

}


h1.navigation {
  position: relative;
  top: -8px;
  /*padding-top: 40px;*/
  font-size: 80px;
}
.container {
  position: relative;
  top: -50px;
}

main.container {
  position: absolute;
  top: 50%;
  left: 20px;
  right: 20px;
  height: 100px;
  margin-top: -70px;
  /*background: black;*/
  color: white;
  padding: 20px;
}

.btn-name {
  position: relative;
  top: 50%;
  left: 20px;
  right: 20px;
  height: 50;
  margin-top: -70px;
  color: white;
  padding: 20px;
}
.btn {
  background-color: #6700ED;
  height: 60px;
  width: 200px;
  border-radius: 35px;
}

.login-button {
  position: relative;
  top: 10%;
}


/* Beginning of home.html*/
nav {
  background-color: #6700ED;
  padding-left: 0%;
  padding-right: 5%;
}
.nav-align {
  padding-top: 0px;
}
.text {
  font-size: 200%;
  color: #6700ED;
}
label {
  color: white;
}
.profBody {
  font-size: 20px;
}
.account_settings_container {
  padding: 20px;
  display: grid;
  justify-content: center;
}
.profile_card {
  grid-column: 1;
  min-width: 300px;
  max-width: 800px;
  /* height: 500px; */
  background: blue;
  padding: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#edit_card_body {
  color: black;
  font-size: 20px;
}
.title_box, input {
  color: black;
}
input::placeholder {
  color: grey;
}
#saveButton {
  margin-top: 50px;
  line-height: 25px;
  padding-top: 5px;
  font-size: 20px;
  background-color: green;
}
#cancelButton {
  margin-top: 50px;
  line-height: 25px;
  padding-top: 5px;
  font-size: 20px;
  background-color: red;
}


/*****index/login page*****/
.modal {
  background: #f0e0ff; /*slightly darker white purple*/
}
.modal-font {
  color: #6700ED;
}
@media only screen and (min-width: 500px) {
  td.modal-font {
    font-size: 25px;
  }
}
@media only screen and (max-width: 500px) {
  td.modal-font {
    font-size: 18px;
  }
}
input.login-input-text {
  color: #6700ED;
}

#open_login{
  background-color: #6700ED;
  box-shadow: 0 10px 10px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}
#login-btn {
  line-height: 25px;
  margin-top: 25px;
  font-size: 20px;
  background-color: #6700ED;
  box-shadow: 0 10px 10px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#open_signup{
  background-color: #6700ED;
  box-shadow: 0 10px 10px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/*****end index*****/


/*****start home*****/

.form_input {
  position: relative;
  width: 60%;
  box-sizing: border-box;
  /* background: white; */
}
#loginScreenButton {
  line-height: 28px;
  height: 60px;
  font-size: 20px;
  font-weight: 300;
  background-color: #FAAD00;
  box-shadow: 0 10px 10px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#browse_instructors {
  line-height: 28px;
  height: 60px;
  font-size: 20px;
  font-weight: 300;
  background-color: #FAAD00;
  box-shadow: 0 10px 10px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#create_lesson {
  line-height: 28px;
  height: 60px;
  font-size: 20px;
  font-weight: 300;
  background-color: #FAAD00;
  box-shadow: 0 10px 10px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#browse_lessons {
  padding: 11px;
  height: 60px;
  font-size: 20px;
  font-weight: 300;
  background-color: #FAAD00;
  box-shadow: 0 10px 10px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#account_preferences {
  line-height: 28px;
  height: 60px;
  font-size: 20px;
  font-weight: 300;
  background-color: #FAAD00;
  box-shadow: 0 10px 10px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#home_mySchedule_btn{
  padding: 15px;
  line-height: 28px;
  height: 60px;
  font-size: 20px;
  font-weight: 300;
  background-color: #FAAD00;
  box-shadow: 0 10px 10px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.row.home-menu{
  position: relative;
  top: 10px;
  line-height: 60px;
}
#account_preferences_modal {
  width: 90%;
  max-height: 90%;
}
#bio-text {
  color: black;
  font-size: 18
}

#createLessonSubmitButton {
  padding-top: 10px;
  line-height: 28px;
  height: 60px;
  font-size: 20px;
  font-weight: 300;
  background-color: #FAAD00;
}
#createLessonBody {
  font-size:13px;
  color: white;
}
#new_lesson_modal {
  width: 95%;
}

/* End of home menu*/



/*****lessons*****/
#confirmButton {
  font-size: 20px;
  padding: 10px;
}
#cancelButton {
  font-size: 20px;
  padding: 10px;
}
